.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-container .head-main {
  padding-top: 3rem;
  font-weight: 600;
  font-size: 2.5rem;
}
.head-container .head-desc {
  padding-top: 1rem;
}