body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-container .head-main {
  padding-top: 3rem;
  font-weight: 600;
  font-size: 2.5rem;
}
.head-container .head-desc {
  padding-top: 1rem;
}

.main-wrapper .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  width: 50%;
  margin: auto;
}
.main-wrapper .main-container .button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-wrapper .main-container .branch-name-out {
  box-sizing: border-box;
  width: 100%;
  padding: 3rem 0.5rem;
}
.main-wrapper .main-container .branch-name-out input[type=text] {
  height: 2rem;
  width: 96.5%;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0 0.75rem;
  font-size: 1rem;
  font-family: "Roboto";
  margin-bottom: 3rem;
}
.main-wrapper .main-container .branch-name-out input[type=text]:focus {
  outline: none;
}
.main-wrapper .main-container .branch-name-out .branch-name {
  box-sizing: border-box;
  height: 6rem;
  width: 100%;
  background-color: #e9ecef;
  font-family: monospace;
  padding: 2rem;
}